*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
}

html,
body{
    height: 100%;
    width: 100%;
}

.page1{
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: none;
    background-position: ;
    background-image: url( https://images.unsplash.com/photo-1475403614135-5f1aa0eb5015?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80);
    color: #8F8F8F;
    padding: 15vh 5vw;
    position: relative;
}

h1{
    font-family: cormorant;
    font-size: 5vw;
    letter-spacing: 5px;
}
h2{
    font-family: cormorant;
    font-size: 3vw;
    letter-spacing: 5px;
    padding: 1vw 0;
}

h3{
    font-size: 1.3vw;
    font-weight: 200;
    padding-bottom: 2vw;
}

button{
    padding: 10px 40px;
    font-weight: 900;
    font-family: cormorant;
    font-size: 2.5vw;
    border-radius: 5px;
    border: none;
    font-style: italic;
    transition: all ease .5s;
}

.off{
    border-radius: 600px;
    transform: translate(15vw, -8vw);
}

button:hover{
    color: white;
    background-color: rgba(211, 49, 49, 0.814);
    scale: 1.2;
}

h1:hover{
    color:  rgba(211, 49, 49, 0.814);
}

.logo {
      position: absolute;
     right: 5%;
     top: 40%;
     scale: 3;
     color: white;

}

i:hover{
    color:  rgba(211, 49, 49, 0.814);
    
}